#login-page {
    max-width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    align-items: center;
    text-align: center;
    background-color: #0096F5;
    height: fit-content;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 1px black;
    border: 1px solid #054065;
    border-radius: 10px;
}
#user input {
    border: 1px solid #054065;
}
#user input:focus {
    border: 2px solid #054065;
}
#user #sign-in {
    width: 227px;
    font-weight: bold;
    background-color: white;
    color: #054065;
    border: 1px solid #054065;
}
#user #sign-in:hover{
    border: 2px solid #054065;
    background-color: #054065;
    color: white;
    cursor: pointer;
}
#contact-us {
    margin-top: 50px;
}
input, #contact-us #msg {
    margin-left: 5px;
    margin-bottom: 6px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #0096F5;
    border-radius: 6px;
    width: 200px;
}
input:focus, #contact-us #msg:focus {
    outline: none !important;
    border: 2px solid #0096F5;
}
.floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}
.floating-label {
    font-size: 14px;
    color: #054065;
    position: absolute;
    pointer-events: none;
    top: 14px;
    left: 12px;
    transition: all 0.1s ease;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
#msg:focus ~ .floating-label,
#msg:not(:focus):valid ~ .floating-label  {
    top: -21px;
    bottom: 0px;
    left: 0px;
    font-size: 16px;
    opacity: 1;
    color: white;
}
#contact-us #confirmation {
    width: 227px;
    font-weight: bold;
    background-color: white;
    color: #0096F5;
    border: 1px solid #0096F5;
}
#contact-us #confirmation:hover {
    border: 2px solid #0096F5;
    background-color: #0096F5;
    color: white;
    cursor: pointer;
}
#contact-us #msg {
    resize: vertical;
    width: 200px;
    margin-left: 5px;
}
@media (max-width: 750px) {
    .floating-label {
        left: 38%;
    }
    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label,
    #msg:focus ~ .floating-label,
    #msg:not(:focus):valid ~ .floating-label {
        top: -21px;
        bottom: 0px;
        left: 27%;
    }
}