.services .left, .services .right {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}
.services .left {
    float: left;
}
.services .right {
    float: right;
}
.services .row {
    margin-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
}
.services .row:after {
    content: "";
    display: table;
    clear: both;
}
.services #mobile {
    display: none;
}
.services #desktop {
    display: block;
}
.services #mobile summary{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.services #mobile .left, .services #mobile .right {
    margin-top: 10px;
}
.services #mobile .chevron {
    float: right;
    pointer-events: none;
    background: #ffffff;
    width: 25px;
    height: 25px;
}
.services #mobile .chevron img {
    width: 100%;
    height: 100%;
    border: 0;
}
.services #mobile details > summary {
    list-style: none;
}
.services #mobile details > summary::-webkit-details-marker {
    display: none;
} /* CodePen Home
Details element with custom arrow */
@media (max-width: 1300px) {
    #services {
        margin-top: 100px;
    }
    .services .left, .services .right {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media (max-width: 900px) {
    
}
@media (max-width: 750px) {
    .services .left, .services .right {
        width: 96%;
    }
    .services .row {
        margin-left: 1%;
        margin-right: 1%;
    }
    .services #mobile {
        display: block;
    }
    .services #desktop {
        display: none;
    }
}