@font-face {
    font-family: barlow;
    src: url(font/Barlow-Regular.ttf);
}
body {
    font-family: barlow;
    color: #054065;
    background: #FFF9F5;
    letter-spacing: 1px;
    margin: 0;
}
.float-container {
    background-color: #AD4900;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    z-index: 99999;
}
header, nav {
    width: 50;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #AD4900;
    height: fit-content;
}
header {
    text-align: left;
}
nav {
    text-align: right;
    float: right;
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav li {
    display: inline-block;
    padding: 20px;
    height: 100%;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover, nav li:hover {
    background-color: #743000;
}
nav.active, li.active {
    background-color: #db5b00;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1850px;
    background-color: white;
}
section p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}
section img {
    width: 100%;
}
article {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
article h1 {
    font-size: 32px;
    font-weight: bold;
}
footer aside {
    margin-right: auto;
    margin-left: 50%;
}
#rest {
    float: left;
    margin-left: 15%;
}
footer {
    background-color: #AD4900;
    color: white;
    height: fit-content;
}
footer h2, p {
    margin-top: 0;
    margin-bottom: 0;
}
footer h2 {
    font-size: 20px;
    padding-top: 20px;
}
footer p {
    padding-left: 10px;
}