@font-face {
    font-family: barlow;
    src: url(font/Barlow-Regular.ttf);
}
html {
    font-family: barlow;
}
body {
    color: #054065;
    background: #FFF9F5;
    letter-spacing: 1px;
    margin: 0;
    overflow: scroll;
}
.float-container {
    background-color: #AD4900;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    z-index: 99999;
}
.float-container #myLinks {
    display: block;
}
header, nav {
    margin: 0;
    padding: 0;
    float: left;
    background-color: #AD4900;
    font-size: 16px;
}
header {
    text-align: left;
}
nav {
    text-align: right;
    float: right;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    height: 35px;
}
nav a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
nav li:hover {
    background-color: #743000;
}
nav li.active {
    background-color: #db5b00;
}
nav #loginBtn {
    outline: 0;
    display: inline-block;
    padding: 0px 25px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: #AD4900;
    border: 1px solid #743000;
    border-radius: 6px;
    margin-right: 10px;
}
nav #loginBtn:hover {
    border: 2px solid #743000;
    background-color: #743000;
    color: white;
    cursor: pointer;
}
#hamburger {
    display: none;
    width: fit-content;
    margin-right: 10px;
    float: right;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1850px;
    background-color: white;
}
p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}
section img {
    width: 100%;
    border: 1px solid black;
}
section a {
    color: #AD4900;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
article {
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h1 {
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
footer {
    background-color: #AD4900;
    color: white;
    padding-bottom: 5px;
}
footer:after {
    content: "";
    display: table;
    clear: both;
}
footer aside {
    margin-right: auto;
    margin-left: 60%;
}
footer aside:after {
    content: "";
    display: table;
    clear: both;
}
#rest {
    float: left;
    margin-left: 15%;
}
footer h1 {
    padding-top: 10px;
}
footer h2, p {
    margin-top: 0;
    margin-bottom: 0;
}
footer h2 {
    font-size: 20px;
    padding-top: 20px;
}
footer p {
    padding-left: 10px;
}
footer #creator {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
footer #yrittajat {
    width: 150px;
}
@media (max-width: 1300px) {
    
}
@media (max-width: 900px) {
    .float-container {
        height: fit-content;
    }
    .float-container #myLinks {
        display: none;
    }
    .float-container a.icon {
        display: block;
    }
    nav li, .float-container #myLinks {
        width: 100%;
    }
    #hamburger {
        display: block;
        height: 40px;
        width: 40px;
        margin-top: 5px;
    }
    #hamburger img {
        width: 100%;
        height: 100%;
    }
    nav {
        text-align: center;
        width: 100%;
        position: fixed;
        z-index: -1;
    }
    nav li {
        padding-left: 0px;
        padding-right: 0px;
    }
    nav #loginBtn {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .float-container #myLinks {
        margin-top: 60px;
    }
}
@media (max-width: 750px) {
    #rest, #rest h2, #rest p {
        float: none;
        text-align: center;
        margin-left: 0;
    }
    footer aside {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}