section aside {
    width: 40%;
    margin-top: 40px;
}
section h2 {
    margin-left: 10px;
}
section h3 {
    margin-left: 20px;
}
.lists li {
    padding-top: 5px;
    padding-bottom: 5px;
}
article .left, article .right {
    width: 40%;
}
article .left, article .leftImg {
    float: left;
    margin-left: 5%;
}
article .right, article .rightImg {
    float: right;
    margin-right: 5%;
}
article .left a {
    word-wrap: break-word;
}
.row {
    margin-bottom: 30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 1300px) {
    article .left, article .right, section aside {
        width: 45%;
    }
    article .left {
        margin-left: 2.5%;
    }
    article .right {
        margin-right: 2.5%;
    }
    article .rightImg, article .leftImg {
        margin-top: 105px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
@media (max-width: 900px) {
    article .left, article .right, section aside {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    article .rightImg, article .leftImg {
        margin-top: 10px;
    }
}